.form-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 5rem;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  padding-left: 7.5%;

  h2 {
    text-align: start;
    color: white;
    font-weight: 600;
    font-size: 1.7rem;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  p {
    line-height: rem;
    color: white;
    opacity: 0.9;
    font-weight: 200;
    font-size: 1.5rem;
  }
}

.form-container {
  min-height: 520px;
  width: 75vw;
  max-width: 600px;
  overflow: hidden;
  background-color: var(--color-main);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.15);

  .form-fields-container-signup {
    padding: 3rem 0;
  }

  form {
    width: 85%;
    margin: 0 auto;
  }

  label {
    display: block;
    font-size: 1.3rem;
    text-transform: uppercase;
    align-self: flex-start;
    color: white;
    margin-bottom: 1rem;
    font-weight: 300;
  }
}

.input,
.invalid-input {
  width: 100%;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.15);
  padding: 1.1rem;
  margin-bottom: 1.3rem;
  font-family: "Barlow", sans-serif;
  color: rgb(255, 255, 255);
  letter-spacing: 1px;
  font-size: 1.5rem;
  font-weight: 200;
  border-radius: 0;

  &:focus {
    outline: 1px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(255, 255, 255, 0.03);
    transition: all 0.5s ease-in-out;
  }
}

.btn--signup {
  margin: 2rem auto 0.5rem auto;
  display: flex;
  justify-content: center;
  width: 100%;
  position: static;
  font-size: 1.4rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background-color: rgba(255, 255, 255, 0.05);
  padding-left: 2rem;

  &:hover {
    background-color: rgba(255, 255, 255, 0.09);
  }

  &::after {
    margin-left: 1rem;
  }
}

//*Error handling divs
.error {
  transition: all 0.25s ease-in-out;
  margin-bottom: 1.3rem;
  font-size: 1.4rem;
  font-weight: 300;
  color: rgba(255, 133, 102, 0.911);
}

.invalid-input {
  border: 1px solid rgba(255, 133, 102, 0.5);
  background-color: rgba(255, 133, 102, 0.04);
  padding-right: 4.8rem;
  transition: all 0.25s ease-in-out;

  &:focus {
    outline: 1px solid rgba(255, 133, 102, 0.911);
    background-color: rgba(255, 133, 102, 0.04);
    transition: all 0.25s ease-in-out;
  }
}

.x__icon {
  display: block;
  color: rgba(255, 133, 102, 0.3);
  top: 3.5rem;
  right: 1.3rem;
  transition: all 0.25s ease-in-out;
}

.btn--disabled {
  opacity: 0.4;
  pointer-events: none;
  transition: all 0.25s ease-in-out;
}

//!Mobile Screens
@media screen and(max-width: 935px) {
  .form-container {
    width: 85vw;
  }
}
