$transition: all 0.25s ease-in-out;

// Start of styles of navbar
.navbar {
  top: 0;
  width: 100vw;
  position: fixed;
  z-index: 999;
  background-color: var(--color-main);
  // margin-top: 3rem;
  height: 7rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.navbar-container {
  height: 100%;
  max-width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-logo {
  display: flex;
  align-items: center;
  h1 {
    margin-left: 1.5rem;
    font-weight: 400;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--color-white);
  }
}

.logo {
  width: 3rem;
  path {
    fill: var(--color-white);
  }

  &:hover {
    path {
      fill: var(--color-grey);
      transition: 0.5s;
    }
  }
}

.navbar-link-wrapper {
  height: 100%;
  display: flex;
}

.navbar-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13rem;
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.3rem;
  letter-spacing: 1px;
  border-right: 1px solid rgba(255, 255, 255, 0.05);

  &::after {
    position: relative;
    margin-left: 0.5rem;
    content: "❯";
    display: inline-block;
    color: var(--color-main);
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.05);
    color: var(--color-white);
    transition: background 0.15s ease-in-out;
  }

  &:hover::after {
    color: var(--color-white);
    transform: translateX(6px);
    transition: all 0.3s ease-out;
  }
}

.cart {
  border-right: none;
}

.burger-menu-wrapper {
  display: none;
}

//! Tablet + Mobile View
@media screen and(max-width: 935px) {
  .navbar-link-wrapper {
    width: 0;
    height: 0;
    overflow: hidden;
  }

  .burger-menu-wrapper--burger {
    position: absolute;
    right: 5vw;
    z-index: 999;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 100%;
    opacity: 0.6;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;

    &:hover {
      background-color: rgba(255, 255, 255, 0.05);
      border-right: 1px solid rgba(255, 255, 255, 0.05);
      border-left: 1px solid rgba(255, 255, 255, 0.05);
      color: var(--color-white);
      opacity: 0.9;
      transition: background 0.15s ease-in-out;
    }

    .burger__main-line {
      transition: $transition;
      margin-left: -0.3rem;
      border-radius: 10px;
      background-color: white;
      height: 1px;
      width: 35%;
    }

    .burger__main-line::before,
    .burger__main-line::after {
      transition: $transition;
      border-radius: 10px;
      display: block;
      position: relative;
      content: "";
      background-color: rgb(255, 255, 255);
      height: 1px;
      width: 100%;
    }

    .burger__main-line::before {
      content: "";
      width: 120%;
      top: -10px;
    }

    .burger__main-line::after {
      top: 10px;
      width: 120%;
    }
  }

  .x {
    .burger__main-line {
      transition: $transition;
      transform: translateX(-10px);
      background-color: transparent;
    }

    .burger__main-line::before,
    .burger__main-line::after {
      transition: $transition;
    }
    .burger__main-line::before {
      transform: translateX(17px) rotateZ(45deg) translateY(14px);
    }

    .burger__main-line::after {
      transform: translateX(17px) rotateZ(-45deg) translateY(-14px);
    }
  }

  .mobile {
    position: absolute;
    top: 7rem;
    left: 0;
    width: 100vw;
    background-color: var(--color-main);
    height: calc(100vh - 7rem);
    display: flex;
    flex-direction: column;
    transition: height 0.65s cubic-bezier(0, 0, 0, 0.94);

    .navbar-link {
      justify-content: start;
      border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      width: 100%;
      padding: 4rem 10vw;

      &:hover::after {
        opacity: 1;
        transform: translateX(15px);
      }

      &::after {
        opacity: 0.1;
        position: absolute;
        right: 10vw;
        color: white;
        margin-left: 2rem;
      }
    }
  }
}
