.background-img-container {
  position: absolute;
  width: 100%;
  height: calc(100vh - 7rem);
  background-color: var(--color-main);
  z-index: -3;
}

.background__img {
  position: absolute;
  width: 100%;
  height: calc(100vh - 7rem);
  object-fit: cover;
  opacity: 0.05;
  z-index: -2;
}

.fullheight-container {
  width: 100%;
  height: calc(100vh - 7rem);
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: 100vw 100vw;
  justify-items: center;
  width: fit-content;
}

.under-form-cta {
  font-size: 1.3rem;
  margin-top: 2.5rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 1rem;
  font-weight: 300;
  text-align: center;

  span {
    font-weight: 400;
    margin-left: 1rem;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      opacity: 1;
      color: white;
    }

    &::after {
      content: "";
      display: block;
    }
  }
}
