.video-container {
  position: relative;
  top: 7rem;
  height: calc(100vh - 7rem);
  background-color: var(--color-main);
  margin-bottom: 17rem;
  overflow: hidden;
}

.video {
  filter: grayscale(0.7);
  opacity: 0.15;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-covering {
  background-color: var(--color-main);
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
}

.video-text-container {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90%;

  .video-main-text {
    span {
      margin-bottom: 13rem;
      text-transform: uppercase;
      text-align: center;
      color: white;
      font-weight: 200;
      font-size: 2rem;
      line-height: 1.3;
    }

    .strong--bold {
      color: white;
      font-weight: 600;
    }
  }
}

.video-text-cta {
  opacity: 0.5;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  left: 12%;
  bottom: 8%;
  writing-mode: vertical-rl;

  h2 {
    margin-bottom: 0rem;
    font-size: 1.4rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-weight: 200;
  }

  .strong--start {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: white;
    font-weight: 500;
  }

  &:hover {
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }

  &:hover .arrow__down {
    opacity: 0.4;
    animation: none;
    bottom: 1rem;
    transform: rotateZ(180deg);
    transition: all 1s cubic-bezier(0, 0, 0, 0.99);
  }
}

.arrow__down {
  opacity: 0.4;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-duration: 3s;
  animation-timing-function: cubic-bezier(0, 0, 0.7, 0.99);
  position: relative;
  bottom: 3rem;
  margin-left: -0.5rem;
  width: 4.5rem;
  path {
    fill: transparent;
    stroke: white;
    stroke-width: 8px;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px) rotateZ(180deg);
  }

  50% {
    transform: translateY(15px) rotateZ(180deg);
  }

  100% {
    transform: translateY(0px) rotateZ(180deg);
  }
}
