.form-container {
  width: 75vw;
  max-width: 600px;
  overflow: hidden;
}

.form-fields-container-login {
  height: calc(100% - 8rem);
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    color: white;
    opacity: 0.4;
    text-align: center;
    margin-top: 2rem;
  }
}
