*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Barlow", sans-serif;
  color: rgb(35, 35, 30);
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --color-main: rgb(35, 35, 30);
  --color-white: #fff;
  --color-grey: rgb(245, 245, 245);
}

html {
  font-size: 62.5%;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
}

h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}

P {
  font-size: 1.6rem;
}
